* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: hsl(234, 29%, 20%);
}

h1 {
  color: hsl(234, 29%, 20%);
  font-size: 3.5rem;
}

a {
  color: hsl(4, 100%, 67%);
}

p {
  line-height: 1.5rem;
}

main {
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  gap: 1.25rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  padding: 4rem 0 4rem 4rem;
}

article,
aside {
  width: 50%;
}

aside {
  display: flex;
  justify-content: flex-end;
}

aside img {
  max-width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.above-form-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-copy {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form,
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: 700;
  color: hsl(234, 29%, 20%);
  font-size: 0.9rem;
}

input,
button {
  padding: 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

input {
  border: 1px solid hsl(231, 7%, 60%);
}

button {
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

footer {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  article {
    padding: 4rem;
  }

  article,
  aside {
    width: 100%;
  }
}
